<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/common/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Auth.css" asp-append-version="true" />
</head>
<body class="empty-layout-bg">
    <div class="w-100 min-vh-100 d-flex flex-column">
        <!-- Logo -->
        <div class="position-absolute top-0 start-0 mt-4 ms-4 d-flex align-items-center gap-2 text-white">
            <i class="fa-solid fa-users-line fs-4"></i>
            <span class="fs-5 fw-bold brand-text-spacing">HRMS</span>
        </div>

        <!-- Content -->
        <main class="flex-grow-1 d-flex align-items-center justify-content-center">
            @RenderBody()
        </main>

        @* copyright footer *@
        <footer class="border-top footer text-center text-white py-3">
            <div class="container">
                &copy; 2026 - HRMS_HumanResourceManagementSystem
            </div>
        </footer>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>