@model HRMS.Models.LeaveSetupViewModel
@{
    ViewData["Title"] = "Leave Setup";
}
<div class="container-fluid p-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 fw-bold">Leave Rules</h1>
        <label class="btn btn-primary px-4 shadow-sm" data-bs-toggle="modal" data-bs-target="#leaveModal">Create Leave Rules</label>
    </div>
    <div class="bg-white border rounded shadow-sm">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th class="px-4 py-3">Leave Type</th>
                    <th class="px-4 py-3">Total Available Days</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.LeavePolicies != null)
                {
                    @foreach (var item in Model.LeavePolicies)
                    {
                        <tr>
                            <td class="px-4 py-3">@item.LeaveType?.Leave_Name</td>
                            <td class="px-4 py-3">@item.Total_Days</td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</div>
<partial name="_LeaveSetupModal" model="Model" />
@section Scripts {
    <script src="~/js/modules/leaveSetup.js"></script>
}